### TURTLE GRAPHICS

In [ ]:
# Design Spiral Suare
import turtle as t
a1 = t.Turtle()
for i in range(500):
   a1.forward(i)
   a1.left(91)
t.done()

In [ ]:
# Design Spiral Star
import turtle as t
a1 = t.Turtle()
a1.pencolor('blue')
for i in range(40):
   a1.forward(i * 10)
   a1.left(144)
t.done()

In [ ]:
#Design Hexagon
from turtle import *
pencolor('blue')
colors = [ 'blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100 + 1)
    forward(i)
    left(59)

In [1]:

# generate circle
# design circle
from turtle import *
pensize(20)
pencolor('orange')
fillcolor('blue')
begin_fill()
circle(100)
end_fill()

In [ ]:
#design Tangent circle
from turtle import *
pensize(3)
pencolor('orange')
for i in range(15):
    circle(10 * i)

In [ ]:
# design spiral cirlce
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,45)

In [ ]:
# design  cirlce
from turtle import *
pensize(3)
colors = ['blue','red','green','orange','yellow','purple']
for i in range(30):
    pencolor(colors[i%6])
    circle(10 * i)
    up()
    sety((10 * i)* (-1))
    down()

In [ ]:
#design olympics logo
from turtle import *
pensize(6) #set pensize to 6 pixels
r1 = ["blue","black","red"]
for i in range(3):
    penup()
    pencolor(r1[i % 3])
    goto(i*100,0)
    pendown()
    circle(45)
r2 = ["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55, -55)
    pendown()
    circle(50)

In [ ]:
#design audi logo
from turtle import *
pensize(6) #set pensize to 6 pixels
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
#design a car blue print
from turtle import * 
color('#2B2BF6')
fillcolor('#2B2BF6')
penup()
goto(0,0)
pendown()
begin_fill()
forward(370)
left(90)
forward(50)
left(90)
forward(370)
left(90)
forward(50)
end_fill()
 
#Below code for drawing window and roof
penup()
goto(100, 50)
pendown()
setheading(45)
forward(70)
setheading(0)
forward(100)
setheading(-45)
forward(70)
setheading(90)
penup()
goto(200, 50)
pendown()
forward(49.50)
#Below code for drawing two tyres
penup()
goto(100, -10)
pendown()
color('#000000')
fillcolor('#000000')
begin_fill()
circle(20)
end_fill()
penup()
goto(300, -10)
pendown()
color('#000000')
fillcolor('#000000')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python
- Transformation of code into Beautiful,Idiomatic Python
- Repalces traditional index manipulation with python code looping idioms

In [2]:
# looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
    
print()
#pythinic -way
for i in range(6):
    print(i ** 2,end = ' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [3]:
#looping over the collection(list)
li =[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
    
print()
#pythinic -way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [6]:
#looping from backwards
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#pythonic -way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [7]:
# looping over the collection with index
li = [1,2,3,4,5]
for i in range(len(li)):
   print(i,'-->',li[i])
print()
#pythonic-way
for i,a in enumerate(li):
   print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [8]:
# Looping Over two Collection
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,8]
n = min(len(li),len(a))
for i in range(n):
   print(li[i],' ',a[i])
print()
# Pythonic-way
for i,a in zip(li,a):
   print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [11]:
#looping in sorted order
#pythnic -way
li=[8,1,23,16,9,2]
for i in sorted(li):
    print(i,end =' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 2 8 9 16 23
23 16 9 8 2 1

In [17]:
#Dictionary
d={'Name':'Gitam','EmailId':'gitam@gmail.edu','Address':'Vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailId Address

In [14]:
for k in d.keys():
    if k.startswith('a'):
        del d[k]

In [15]:
print(d)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.edu'}

In [16]:
for k in d.values():
    print(k,end=' ')

Gitam gitam@gmail.edu

## List Comperhensions

In [19]:
li =[]
for i in range(10):
    a= i ** 2
    li.append(a)
    
print(sum(li))
print()
#pythonic way
sum(i ** 2 for i in  range(10))

285

285

In [20]:
li =[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
com_list =[i **2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
for i in li:
    if i % 2 == 0:
        print(i,end =' ')

0 4 16 36 64

In [23]:
com_list =[i ** 2 for i in range(10) if i % 2 ==0]
com_list

[0, 4, 16, 36, 64]

# Lambda Functions
- Anonymous functions means that a function is without a name.
- Any lambda function on python will be defined with lambda
- syntax : lambda arg : expression

In [ ]:
def square(n):
   return n*n
square(10)

In [1]:
a = lambda x : x * x
print(a(10))

100

## Use of lambda with filter

In [2]:
def filterList(li):
   a = []
   for i in li:
       if i % 2 == 0:
           a.append(i)
   return a
li = [1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [3]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x : (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### Lambda with map()
- map() function in python takes in a function and list as argument.

In [ ]:
#lambda with map
li =[1,2,3,4,5,6,7,8]
map_list = list(map(lambda))

### Lambda with reduce()

In [6]:
def sumList(li):
    s = 0
    for i in li:
        s += i
    return s
li = [1,2,3,4,5,6,7,8]
sumList(li)

36

In [7]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package
###  Pandas,Numpy and Matplotlib

### pandas
### use cases
- Data cleaning
- Data Transformation
- Data Analysis
### Notations
- series
      -A seires is a one-dimensional object that can hold  int,float and string
- DataFrames
     - two dimensional object

In [11]:
import pandas as pd
internal1 = {'S1':35,'S2':67,'S3':90}
internal2= {'S1':98,'S2':67,'S3':78}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

S1    35
S2    67
S3    90
dtype: int64
S1    98
S2    67
S3    35
dtype: int64

In [6]:
final = {'Internal1':internal1,'Internal2':internal2}
final= pd.DataFrame(final)
print(final)

    Internal1  Internal2
S1         35         35
S2         35         35
S3         35         35

In [7]:
final.columns #return  the names of columns

Index(['Internal1', 'Internal2'], dtype='object')

In [8]:
final.values #return all row values in 2 dimensional array

array([[35, 35],
       [35, 35],
       [35, 35]], dtype=int64)

In [16]:
final.values[1]

array([35, 35], dtype=int64)

In [17]:
final.values[2][0]=350

In [18]:
final.values

array([[ 35,  35],
       [ 35,  35],
       [350,  35]], dtype=int64)

In [19]:
for row in final.values:
    print('Internal1 -',row[0],'Internal2 -',row[1])

Internal1 - 35 Internal2 - 35
Internal1 - 35 Internal2 - 35
Internal1 - 350 Internal2 - 35

In [21]:
final.loc['s4']=[20,18]
final

    Internal1  Internal2
S1         35         35
S2         35         35
S3        350         35
s4         20         18

In [22]:
pwd

'C:\\Users\\user\\Desktop\\problem solving& programming'

In [37]:
pwd

'C:\\Users\\user\\Desktop\\problem solving& programming'

In [38]:
filePath = 'DataFiles\Income.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
readCsvData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [39]:
# extract income of all states in year 2013
# alambama : 41381
# ..........
for row in df.values:
   print(row[1],' : ',row[-1])

NameError: name 'df' is not defined

In [42]:
# Average income of California
def avgofState():
  s = 0
  for i in range(2,11):
        s += df.values[4][i]
    return s // len(df.values[4][2:])
avgofState()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [46]:
df .max()

NameError: name 'df' is not defined

In [47]:
df.loc[:3]

NameError: name 'df' is not defined

In [48]:
filePath = 'DataFiles\RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
readCsvData(filePath)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [50]:
df=readCsvData(filePath)
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [2]:
df[df['Wscore'] > 170 & (df['Daynum'] > 60)]

NameError: name 'df' is not defined

NameError: name 'df' is not defined